/*
 * Homework 2
 * HVHistogram skeleton CSS
 *
 * Author: Denis Gracanin
 * Version: 5.0
 */
.com-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.top-box {
    display: flex;
}
.top-box .chart-box {
    width: 600px;
}
.top-box .select-box {
    width: calc(100% - 600px);
}